.App {
  margin: auto;
  width: 75%;
  position: relative;
}

.search-div {
  margin-bottom: 20px;
}

.App input {
  margin-left: 2%;
  padding: auto;
}

.App select {
  position: absolute;
  right: 2%;
  top: 0px;
}

.list {
  margin: auto;
  width: 70%;
  margin-top: 100px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 100px;
}

.item {
  margin-right: 7px;
  margin-left: 7px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-basis: 0
}

.item p {
  margin: auto;
  margin-bottom: 5px;
}

.avatar-div {
  width: 150px;
  height: 150px;
  margin-bottom: 2rem;
  border: 5px solid white;
  border-radius: 0.5rem;
}

.avatar-div img {
  max-height: 100%;
  max-width: 100%;
  background-color: white;
}